

.inline-block {
   
    vertical-align: top;
    display: flex;
    justify-content: space-between;


}
.logo {
    width: 23%;
    padding: 1%;  
    
}
.nav {
    display: flex;
    width: 73%;
    padding: 1%;
  
}
.logo {
    display: flex;
    align-items: center;
    margin: 10px;

}
h1 {
  font-family: wild mango;
  font-size: 48px;
  color: white;
  padding: 0%;
    margin-top: 60px;
    margin-bottom: 0px;
    text-align: left;

}
h2 {
    font-family: heliotrope;
    font-size: 36px;
    font-weight: lighter;
    color: white;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: left;
}
p {
    display: flex;
    font-family: poppins;
    color: white;
    justify-content: flex-end;
    width: 475px;
    padding: 0;
    margin-top: 8px;
    margin-bottom: 125px;
    text-align: left;
    
}

a {
    margin-bottom: 75px;
    margin-top: 5px;
}
.topnav {
    display: inline;
    display: flex;
    font-family: poppins;
    text-transform: uppercase;
    font-size: 16px;
    list-style-type: none;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.heroimg {
    display: flex;
    background-image: cover;
    background-position-y:center;
    background-position-x:center;
    background-image: cover;
    justify-content: flex-end;
    margin: 0px;
    min-height: 455px;
    max-height: 475px;
    width: 100vw;

    
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 100px;
    text-align: left;
    
    
}


.footer {
    display: flex;
    flex-direction: column;
    margin: 100px;
    justify-content: flex-end;
    
    
     
}
.footercontent {
    display: flex;
    font-family: poppins;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    padding-right: 170px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    
}

li {
    display: inline;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    padding: 10px; 

}

.footersection {
    display: flex;
    background-image: cover;
    justify-content: flex-end;
    min-height: 400px;
    max-height: 500px;
    background-position-y:center;
    background-position-x:center;
   
}


